::-webkit-scrollbar {
  display: none;
}

.element {
  overflow: -moz-scrollbars-none;
}

.element {
  -ms-overflow-style: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}